@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,300,700&subset=latin,latin-ext);
body { font-family: 'Work Sans', sans-serif;margin: 0;padding: 0;color:#F0F0F0; font-weight: 100;}
a{text-decoration:none;border:none;color:#F0F0F0;}
a:hover{text-decoration:none;}
img{border:none;}
h1,h2,h3,h4,h5,span,p,ul,li{margin:0;padding:0;font-weight:100;}
li{list-style:none}
table{margin:0;padding:0;}
tr{margin:0;padding:0;}
td{margin:0;padding:0;vertical-align: top;}
.clear { clear:both;}

.right-box { background-color: #292929; position: fixed; top: 0; right:0;width:250px;height: 100%;}
.employer, .domain { cursor: pointer; }
.employer-table { width:100%; padding: 5px; background-color: #222222;}
.employer-table tr td { vertical-align: middle;}
.employer-table tr td p.name { font-weight: 300; font-size:15px; }
.employer-table tr td p.title { font-weight: 100; font-size:10px; }
.employer-table tr td.img { width:45px; }
img.mega-image { height: 36px;line-height: 30px;width: 36px;border-radius: 50%;margin-bottom: -4px; margin-left:3px; }

.employer-table-2 { width:100%;}
.employer-table-2 tr td { vertical-align: middle; border-bottom: 1px #222222 solid; padding: 8px 2px 8px 0;}
.employer-table-2 tr td p.name { font-weight: 300; font-size:15px; }
.employer-table-2 tr td p.title { font-weight: 100; font-size:10px; }
.employer-table-2 tr td.img { width:45px; padding-left: 7px; }

.drop-button { color:#F0F0F0; width:30px; height: 30px; text-align: center; border-radius:50%; display: block;}
.drop-button i { font-size:18px; margin-top:7px; }
.drop-button.employer-1 { background-color: #292929; }
.drop-button.employer-2 { background-color: #222222; margin-top:5px;}

.domain-table { width:100%;  }
.domain-table tr td { vertical-align: middle;}
.domain-table tr td { border-top: 1px #222222 solid; padding: 8px;padding-left: 12px; padding-right: 5px;padding-bottom: 12px; }
.domain-table tr td.top { border-top:0; }
.domain-table tr td.bottom { border-bottom: 1px #222222 solid; }
.domain-table tr td a.dropdown { float: right;display: block;margin-top:-25px;margin-right:13px; }
.domain-table tr td p.domain-link-bottom { font-size:10px; }
.domain-table tr td p.domain-link { margin-bottom: 3px; }
.domain-table tr td p.domain-link a { font-size:13px; }
.domain-input-td { border:0;padding-top:5px;padding-bottom:5px;background-color:#222222;margin-top:2px; }
.domain-input { border: 0;padding: 4px;color: #626262;font-weight: 100; border-radius: 2px;width: 200px;background-color: #2b2b2d; font-family: 'Work Sans', sans-serif;margin-top:4px;}
.domain-input::-webkit-input-placeholder { color: #626262;font-weight: 100; }
.domain-input::-moz-placeholder { color: #626262;font-weight: 100; }
.domain-ico { color: #2b2b2d; margin-top: 5px;display: block;float: right;margin-right: 5px;}
.tr-hover:hover { background-color: #222222; cursor: pointer; }
.tr-hover-2:hover { background-color: #222222; cursor: pointer; }
.tr-hover-3:hover { background-color: #222222; cursor: pointer; }

.note-selected {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
 }

span.number-warning { background-color: #EB5566; padding: 1px 5px 1px 5px; border-radius: 10px; text-align: center;display: inline-block; font-size:10px; font-weight: 100;}
span.number { background-color: #424245; padding: 1px 5px 1px 5px; border-radius: 10px; text-align: center;display: inline-block; font-size:10px; font-weight: 100;}
span.acti { background-color: #04A678; }
span.lf-m { margin-left:5px; }

.task-table { width:100%; }
.task-table tr td { vertical-align: middle;  border-top: 1px #222222 solid;padding: 8px;padding-left: 12px;padding-top: 13px;padding-bottom: 13px;}
.task-table tr td.right { width: 54px;padding-right: 5px; }
.task-table tr td.right.hidden { text-align: right; }
.task-table tr td.right.hidden a { padding-right: 10px;display: inline-block; }
.task-table tr td.top { border-top:0; }
.task-table tr td.bottom { border-bottom: 1px #222222 solid;  }
.task-table tr td a i.accept { font-size: 30px; color:#04A678;}
.task-table tr td i.warning { color:#EB5566; font-size:20px;float: left;margin-right: 5px;margin-top: 7px; }
.task-table tr td i.no-warning { color:#323235; font-size:20px;float: left;margin-right: 5px;margin-top: 7px; }
.task-table tr td p.task-link { line-height: 10px;padding-bottom: 3px; }
.task-table tr td p.task-link a { font-size: 13px;padding-top:4px;display: inline-block; }
.task-table tr td p.task-link-bottom { font-size:12px;margin-top: 3px; color: #737373; }
.task-table tr td p.task-link-bottom a { color: #737373; }
.task-table tr td p.task-link-bottom a:hover { color:#f0f0f0; }
.task-table tr td p.task-link-bottom i { font-size:20px; float: left; }
.task-table tr td p.task-link-bottom span { float: left;margin-top: 3px;margin-left: 5px; }
.task-table tr td.hidden i.no-warning { color:#323235; font-size:20px; float: none;margin:0; }
.task-table tr td.hidden i.accept, .hidden { color:#323235; font-size:20px; }
.task-table tr td.hidden p.task-link a { color: #505055; }
.task-table tr td.hidden p.task-link-bottom { color: #505055; }
.task-table tr td a:hover i.look { display:none; }
.task-table tr td a:hover i.hidden { display: inline-block !important;}

.tr-hover-4:hover { background-color: #222222; cursor: pointer; }
.tr-hover-4:hover td.hidden p.task-link a { color: #F0F0F0; }
.tr-hover-4:hover td.hidden p.task-link-bottom { color: #737373;}
.load-ico i { color:#f0f0f0; }

.bottom-buttons { position: fixed;bottom:0; width: 250px; background-color: #222222; }
.bottom-buttons .buttons { width:100%; }
.bottom-buttons .buttons tr td { text-align: center;}
.bottom-buttons .buttons tr td a { display: block; width:124px; font-size:20px;padding-top: 10px;padding-bottom: 10px;}
.bottom-buttons .buttons tr td a.active { font-weight: bold; }
.bottom-buttons .buttons tr td a:hover { color:#8D8D94; }
.bottom-buttons .buttons tr td a.left { border-right: 1px #292929 solid; }
.text-sound-page { font-size:13px;margin-left: 12px;padding-top: 5px; }

.add-sound { bottom:45px;position: fixed; background-color:#222222;  }
.add-sound-table { width:250px; border-top:1px #222222 solid; padding: 5px;padding-bottom: 12px;}
.add-sound-table tr td { vertical-align: middle;}
.add-sound-table tr td a.rec { width:30px; height: 30px; text-align: center; border-radius:50%; background-color:#F0F0F0; color:#EB5566; display: block;margin-left: 12px; }
.add-sound-table tr td a.rec:hover { color:#c04553; }
.add-sound-table tr td a.rec i { margin-top:6px; }
.add-sound-table tr td p.rec-info { font-size: 12px;color: #737373;}
.add-sound-table tr td p.rec-time { line-height: 13px;font-size:13px; }
.bbc-table { margin-left:12px; margin-top:10px; margin-bottom:10px; display: block;}
.bbc-table a.bbc { font-size:20px;border-right:none;  width:30px; height: 30px; text-align: center;display: inline-block;background-color: #2B2B2D; margin-right: 1px;float: left;margin-bottom: 10px;}
.bbc-table a.bbc.first { margin-left:0; }
.bbc-table a.bbc:hover { color:#8D8D94; }
.bbc-table a.bbc i { display: block;margin-top: 5px; }

.add-text { bottom:45px;position: fixed; background-color: #222222; }
.add-text-table { width:250px; border-top:1px #222222 solid; padding: 5px;padding-bottom: 10px;}
.add-text-table tr td { vertical-align: middle;}
.add-text-table tr td textarea.text-task { border:none; margin-left: 12px;width:206px;border-radius: 5px;padding: 5px; background-color: #2b2b2d; color: #F0F0F0;font-family: 'Work Sans', sans-serif;font-weight: 100; }
.none { display:none; }
